<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.unsw.infs3634.Group79App">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="GoCom"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="au.edu.unsw.infs3634.Group79App.MainActivity"
          >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="au.edu.unsw.infs3634.Group79App.SignupActivity" />
        <activity android:name="au.edu.unsw.infs3634.Group79App.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="au.edu.unsw.infs3634.Group79App.Leaderboard" />
        <activity android:name="au.edu.unsw.infs3634.Group79App.TakeQuiz" />
        <activity android:name="au.edu.unsw.infs3634.Group79App.Awards" />

    </application>

</manifest>